---
import flowers300 from '../assets/pot-flowers-300w.jpg';
import flowers500 from '../assets/pot-flowers-500w.jpg';
import flowers800 from '../assets/pot-flowers-800w.jpg';
import OptimizedImage from '../components/OptimizedImage.astro';
import '../styles/global.css';

const images = [flowers300, flowers500, flowers800];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <OptimizedImage
      images={images}
      defaultImage={flowers300}
      alt="some flowers"
      loading={'eager'}
    />
  </body>
</html>
